{% extends 'base.html.twig' %}


{% block body %}

    <img class="image-principale" src="{{ asset('/images/annexes/photo_header.png') }}" alt="Bienvenue sur le site Post-Partum">

    <article class="bloc">
      <div class="text-bloc">
          <h2> Bienvenue sur le site Post Partum ! </h2>
          <p> Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed sit amet tristique sapien. 
          Integer ultrices vulputate magna, vulputate mattis sem dapibus ut. Praesent luctus purus nec 
          scelerisque congue. Curabitur urna purus, hendrerit a dictum rutrum, vestibulum eu nisi. 
          Vivamus in rutrum odio. Integer interdum tempor sem, ac suscipit ex vestibulum at. Mauris vel
          scelerisque purus. Vestibulum lobortis nibh et risus maximus, vitae volutpat mi aliquam.
          Proin congue at lectus eget elementum. Proin ac aliquam ex. Maecenas hendrerit erat id enim
          molestie egestas. <br> Donec faucibus gravida velit eu posuere. Praesent volutpat, ex sed efficitur 
          varius, justo nibh mattis ante, id posuere ligula purus ullamcorper ante. Orci varius natoque
          penatibus et magnis dis parturient montes, nascetur ridiculus mus. Lorem ipsum dolor sit amet, 
          consectetur adipiscing elit.<br><br>
          Je vous souhaite la bienvenue !</p>
      </div>
      <img id="image_presentation" src="{{ asset('/images/annexes/photo_presentation.png') }}" alt="">
    </article>

    <article class="bloc_actu">
      {% for Evenement in Evenement %}
        <img id="image_evenementindex" class="imageFile" src="{{ vich_uploader_asset(Evenement,'imageFile') }}" alt="Image Evènement">
        <div class="text-blocactu"> 
          <h2> Dernière actualité </h2>
          <h3> {{ Evenement.gettitre() }} </h3>
          <p> {{ Evenement.getdescription()|slice(0, 300) }} ...
            <a 
              class="btn btn-light btn-sm" 
              href="{{ path('app_evenement', {'id': Evenement.id}) }}" 
              target="_blank">lire la suite
            </a>
          </p>
          <p> Publié le {{ Evenement.getDateCreation|format_date('long', locale='fr') }} </p>
        </div>
      {% endfor %}

    </article>

    <article class="homeblog">
      <div class="bloc_homeblog">
        <h2>Dernier article publié</h2>
        <div class="article_homeblog">
          {% for Post in Post %}
                  <img id="image_evenementindex" class="imageFile" src="{{ vich_uploader_asset(Post,'imageFile') }}" alt="Image blog">
                  <div class="texte_homeblog">
                      <h3 class=""> {{ Post.gettitre() }} </h3>
                      <p class=""> {{ Post.getarticle()|slice(0, 250) }}</p>
                      <p> Catégorie {{ Post.getcategorie()}}</p>
                      <p> {{ Post.getJourRedaction|format_date('long', locale='fr') }} </p>
                      <center><a class="btn btn-secondary" href="{{ path('app_post', {'id': Post.id}) }}" target="_blank">Lire l'article</a></center>
                  </div>
          {% endfor %}
        </div>
      </div>
    </article>
{% endblock %}
