{% extends 'base.html.twig' %}


{% block body %}

    <img class="image-principale" src="{{ asset('/images/annexes/photo_headernew.png') }}" alt="Bienvenue sur le site Post-Partum">

    <article class="bloc">
      <div class="text-bloc">
          <h2> Bienvenue sur le site Post Partum ! </h2>
          <p> Bienvenue sur Post-partum, un espace dédié à l’écoute, au partage et à la bienveillance entre mamans. Nous croyons fermement que chaque maman mérite 
          d’être soutenue et entendue, et c’est dans cet esprit que Post-partum a été créé.<br>
          Post-partum est plus qu’un simple site web, c’est une communauté où les mamans peuvent se sentir comprises et soutenues à chaque étape de leur voyage de 
          maternité. Que vous soyez enceinte, que vous veniez d’accoucher ou que vous soyez déjà maman, Post-partum est là pour vous.<br>
          Sur notre site, vous trouverez des conseils et des ressources pour naviguer dans le merveilleux voyage de la maternité. De la grossesse à l’accouchement, 
          de l’allaitement à l’éducation, nous couvrons tous les aspects de la vie de maman. Nous abordons également des sujets importants tels que le bien-être du 
          bébé, le sommeil, la parentalité positive et le soutien aux parents.<br>
          Chez Post-partum, nous croyons que chaque maman a une histoire unique à raconter. Nous vous invitons à partager votre expérience, à poser des questions et 
          à soutenir d’autres mamans. Ensemble, nous pouvons faire de la maternité un voyage encore plus beau.<br><br>
          Je vous souhaite la bienvenue !</p>
      </div>
      <img id="image_presentation" src="{{ asset('/images/annexes/photo_presentationnew.png') }}" alt="">
    </article>

    <h2 class="class_titre"> Dernière actualité </h2>
    <article class="bloc_actu">
      {% for Evenement in Evenement %}
        <div class="text-blocactu"> 
          <img id="image_evenementindex" class="imageFile" src="{{ vich_uploader_asset(Evenement,'imageFile') }}" alt="Image Evènement">
            <div class="nouveau_bloc">  
              <h3 class="post_titre_accueil"> {{ Evenement.gettitre() }} </h3>
              <p> {{ Evenement.getdescription()|striptags|slice(0, 400) }} ...
                <a 
                  class="btn btn-light btn-sm" 
                  href="{{ path('app_evenement', {'id': Evenement.id}) }}" 
                  target="_blank">lire la suite
                </a>
              </p>
              <p> Publié le {{ Evenement.getDateCreation|format_date('long', locale='fr') }} </p>
            </div>
        </div>
      {% endfor %}

    </article>

    <article class="homeblog">
      <div class="bloc_homeblog">
        <h2>Dernier article publié</h2>
        <div class="article_homeblog">
          {% for Post in Post %}
                  <img id="image_blogindex" class="img-fluid" src="{{ vich_uploader_asset(Post,'imageFile') }}" alt="Image blog">
                  <div class="texte_homeblog">
                      <h3 class="post_titre_accueil"> {{ Post.gettitre() }} </h3>
                      <p class=""> {{ Post.getarticle()|striptags|slice(0, 425)}}</p>
                      <p> Rédigé le {{ Post.getJourRedaction|format_date('long', locale='fr') }} </p>
                      <center><a class="btn btn-secondary btn-sm" href="{{ path('app_post', {'id': Post.id}) }}" target="_blank">Lire la suite de l'article</a></center>
                  </div>
          {% endfor %}
        </div>
      </div>
    </article>
{% endblock %}
