{% extends 'base.html.twig' %}

{% block title %} Bienvenue sur mon blog {% endblock %}

{% block body %}
    <h2> Retrouvez tous mes articles </h2>

    <div class="filtre">
        <label for="choix_categorie"> Filtrer :</label>
        <select name="categorie" id="categorie-select">
            <option value="">--Filtrer par catégorie--</option>
            <option value="Grossesse">Grossesse</option>
            <option value="Allaitement">Allaitement</option>
            <option value="DMAE">DMAE</option>
        </select>
        <button 
            id="btnSubmit"
            type="button" 
            class="btn btn-secondary"
            style="--bs-btn-padding-y: .25rem; --bs-btn-padding-x: .5rem; --bs-btn-font-size: .75rem;">
            Rechercher
        </button>
    </div>

    <div class="post">
        {% for Post in Post %}
            <article class="article_post">
                {#<img class="imageFile" src="{{ vich_uploader_asset(Post,'imageFile') }}" alt="Image blog">#}
                <div class="article_texte">
                    <h3 > {{ Post.gettitre() }} </h3>
                    <p > {{ Post.getarticle()|slice(0,350) }}</p>
                    <p id="categorie"> {{ Post.getCategorie() }} </p>
                    <p> {{ Post.getJourRedaction|format_date('long', locale='fr') }} </p>
                    <center><a class="btn btn-secondary" href="{{ path('app_post', {'id': Post.id}) }}" target="_blank">Lire l'article</a></center>
                </div>
            </article>
        {% endfor %}
    </div>

{% endblock %}
