{% extends 'base.html.twig' %}

{% block title %}Hello EvenementController!{% endblock %}

{% block body %}

    {% for Evenement in Evenement %}
        <div class="card text-center mx-5 my-3">
            <div class="card-header">
                <h2 class="card-title">{{ Evenement.gettitre() }} </h2>
            </div>
            <div class="card-body">
                <img id="image_evenement" class="imageFile" src="{{ vich_uploader_asset(Evenement,'imageFile') }}" alt="Image Evènement">
                <p class="card-text px-5 py-1">{{ Evenement.getdescription() | raw }}</p>
            <a href="{{path ('app_contact')}}" class="btn btn-primary">Contact</a>
            </div>
            <div class="card-footer text-body-secondary">
                Publié le {{ Evenement.getDateCreation|format_date('long', locale='fr') }}
            </div>
        </div>
    {% endfor %}

{% endblock %}
