{% extends 'base.html.twig' %}

{% block title %} Découvrez tous mes posts ! {% endblock %}

{% block body %}

    <h2> Bonne lecture !  </h2>

    <div class="article">
            <p> Article publié le {{ Post.getJourRedaction|format_date('long', locale='fr')}} </p>
            <h3> {{ Post.gettitre() }} </h3>
            <img id="image_post" class="imageFile" src="{{ vich_uploader_asset(Post,'imageFile') }}" alt="Image blog">
            <p> {{ Post.getarticle( )}} </p>
            Catégorie : {{ Post.getcategorie}}
    </div>

    <h3 class="ms-5"> Commentaires </h3>    
       <!-- Affichage des commentaires existants -->
   {% for commentaire in Post.commentaire %}
       <div class="commentaire">
           <h4>{{ commentaire.getUser().getNom() }}</h4>
           <p>{{ commentaire.getReponse() }}</p>
           <p><small>Publié le {{ commentaire.getJour_publication|date('d/m/Y H:i') }}</small></p>
       </div>
   {% endfor %}

    <div class="comment">
        {% if is_granted('ROLE_USER') %}

        {{ form_start(form) }}
            <div class="mb-3 mx-3">
                {{ form_label(form.user) }}
                {{ form_widget(form.user, {'attr': {'class': 'form-control'}}) }}
                {{ form_errors(form.user)}}
            </div>
            <div class="mb-3 mx-3">
                {{ form_label(form.reponse) }}
                {{ form_widget(form.reponse, {'attr': {'class': 'form-control'}}) }}
                {{ form_errors(form.reponse)}}
            </div>

            <button type="submit" class="mb-3 ms-3 btn btn-primary">Envoyer</button>

        {{ form_end(form) }}

        {% endif %}
    </div>

<style>
.comment {
    margin-left: 10%;
    margin-right: 10%;
}

@media screen and (min-width: 850px) {
    .comment {
        margin-left: 20%;
        margin-right: 20%;
    }
}

</style>
{% endblock %}

